<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>New Student Dashboard</title> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
            </div>
            <span class="logo_name">InkLink</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#"><i class="uil uil-estate"></i><span class="link-name">Dashboard</span></a></li>
                <li><a href="#"><i class="uil uil-files-landscapes"></i><span class="link-name">All notes</span></a></li>
                <li><a href="#"><i class="uil uil-download-alt"></i><span class="link-name">Downloads</span></a></li>
                <li><a href="#"><i class="uil uil-share"></i><span class="link-name">Shared</span></a></li>
            </ul>
            <ul class="logout-mode">
                <li><a href="{{ url_for('logout') }}"><i class="uil uil-signout"></i><span class="link-name">Logout</span></a></li>
                <li class="mode">
                    <a href="#"><i class="uil uil-moon"></i><span class="link-name">Dark Mode</span></a>
                    <div class="mode-toggle"><span class="switch"></span></div>
                </li>
            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search your notes here...">
            </div>
            <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Profile">
        </div>
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-chart-bar"></i>
                    <span class="text">Welcome, New Student!</span>
                </div>
                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-books"></i>
                        <span class="text">Total Notes</span>
                        <span class="number">0</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-download-alt"></i>
                        <span class="text">Downloads</span>
                        <span class="number">0</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Shared</span>
                        <span class="number">0</span>
                    </div>
                </div>
            </div>
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Activities</span>
                </div>
                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Subject</span>
                        <span class="data-list">None yet</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">Teacher</span>
                        <span class="data-list">None yet</span>
                    </div>
                    <div class="data joined">
                        <span class="data-title">Date Uploaded</span>
                        <span class="data-list">None yet</span>
                    </div>
                    <div class="data type">
                        <span class="data-title">Link</span>
                        <span class="data-list">None yet</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/student.js') }}"></script>
</body>
</html>
